/* *{
    padding:0%;
    margin:0%;
} */
.game
{
    width: 720px;
    border: solid 1px rgb(19, 17, 17);
    margin: 0 auto;
    background: #e780df;
    border: solid 10px;
    text-align:center;
    min-height:430px;
    font-family: 'Nanum Pen Script', cursive;
    border-radius: 10pt;
    font-size: 25pt;
}
.btn{
    border: solid white 2pt;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 18pt;
    border-radius: 10px;
    
}
.btn:hover{
    background:rgb(207, 181, 201);
    border-radius: 10px
}
.game h3
{
padding: 10px;
background:black;
color:white;
}

.game .gameBody
{
padding: 10px;
}
.game .options
{
text-align:center;
}
.game .card{
    width: 50pt;
    height: 80pt;
    padding: 10px;
    border: solid 1px #b1a9a9;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 20   pt;
    text-align: center;
    margin: 3px;
  
}
.game .status
{
display: inline-block;
background: rgb(0, 225, 255);
border: solid 5px black;
border-radius: 10px;
padding: 5px 20px;
margin: 0 auto;
margin-top: 10px;
display:none;

}


.players{
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
   
}
.player{
    width: 40%;
    border: soli 5px black;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin:1%;
    vertical-align: top;
    background:#f5f5f5;
}

.player.active{
    border: solid 5px #222;

}

.points{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin: 10px;
}
.deck{ 
    width: 10%;
    border: double 5px #0f0000;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin:1%;
    vertical-align: top;
    background:#f5f5f5;
}
#cardsRemaining{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 18pt;
    ;
}
#deckCount{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20pt;
}

.btn
{
    background:#222;
    color:white;
    border-radius:10px;
}